@model ProductItemViewModel


<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge -->
        @if (Model.IsSale)
        {
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        }
        <!-- Product image -->
        <img class="card-img-top" src="@Model.ImageUrl" style="max-width: 100%; max-height: 200px; object-fit: contain;" alt="..." />
        <!-- Product details -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name -->
                <h5 class="fw-bolder">@Model.Title</h5>
                <!-- Product reviews -->
                @if (Model.StarCount > 0)
                {
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        @for (int i = 0; i < Model.StarCount; i++)
                        {
                            <div class="bi-star-fill"></div>
                        }
                    </div>
                }
                <!-- Product price -->
                @if (Model.IsSale)
                {
                    <span class="text-muted text-decoration-line-through">$@Model.OldPrice</span>
                }
                $@Model.Price
            </div>
        </div>
        <!-- Product actions -->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">
                    @{
                        if (Model.IsSale)
                        {
                            <span>Add to cart</span>
                        }
                        else
                        {
                            <span>View options</span>
                        }
                    }
                </a>
            </div>
        </div>
    </div>
</div>




