@model App.Web.Entity.Concrete.Category
@{
    ViewData["Title"] = "Yeni Kategori Ekle";
}

<div class="container mt-5">
    <h3>Kategori</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Kategori Adı</label>
                    <input asp-for="Name" class="form-control mb-3" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="Description" class="control-label">Açıklama</label>
                    <input asp-for="Description" class="form-control mb-3" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label">Üst Kategori</label>
                    <select asp-for="ParentId" class="form-select" asp-items="ViewBag.ParentId">
                        <option value="0">Ana Kategori</option>
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Yeni Ekle" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Listeye Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>
