@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductItemViewModel>



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model)
            {
                @await Component.InvokeAsync("ProductItem", new{title = product.Title, starCount = product.StarCount,  oldPrice = product.OldPrice,  price = product.Price,  imageUrl = product.ImageUrl ,  isSale = product.IsSale})
            }
        </div>
    </div>
</section>




