@model App.Web.Entity.Concrete.Settings
@{
    ViewData["Title"] = "Ayar Düzenle";
}

<div class="container mt-3">
    <h4>@ViewData["Title"]</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Value" class="form-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserId" class="form-label"></label>
                    <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId">
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>