<section class="footer-2 section-padding gray-bg pb-5">
    <div class="container">
        <div class="footer-btm pt-3 border-top">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline footer-socials-2 text-center">
                        <li class="list-inline-item"><a asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                        <li class="list-inline-item"><a asp-controller="Contact" asp-action="Index">Support</a></li>
                        <li class="list-inline-item"><a asp-controller="Page" asp-action="Detail">About</a></li>
                        <li class="list-inline-item"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                        <li class="list-inline-item"><a asp-controller="Home" asp-action="Privacy">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="copyright text-center ">
                        Copyright &copy; @DateTime.Now.Year Tüm Hakları Saklıdır. - 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>