<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <partial name="_HeaderPartialView" />

    <div class="container-flex">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartialView" />

    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
    <script src="~/lib/bootstrap/dist/js/gmap.js"></script>
    <!-- main js -->
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".navbar-toggler").click(function () {
                $("#navbar-collapse").slideToggle();
            });
        });
    </script>
</body>
</html>
