<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Favicon-->
    <link rel="shortcut icon" href="~/Img/home.png" type="image/x-icon">
    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    @await Component.InvokeAsync("Navbar")
    
    <div class="container-flex">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")

    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
    <script src="~/lib/bootstrap/dist/js/gmap.js"></script>
    <!-- main js -->
    <script src="~/js/custom.js"></script>
    <script>
        function toggleDropdown() {
            var userOptions = document.getElementById("user-options");
            userOptions.classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('#profile-picture')) {
                var userOptions = document.getElementById("user-options");
                if (userOptions.classList.contains('show')) {
                    userOptions.classList.remove('show');
                }
            }
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <div id="customMessage" class="slide-in-popup">
            <span class="close-popup" onclick="closePopup()">×</span>
            @ViewBag.Message
        </div>
        <style>
            #customMessage {
                border-radius: 15px;
                box-shadow: 0 0 10px 5px #d1d0d0;
            }
        </style>
        <script>
            $(document).ready(function () {
                var messageBox = $('#customMessage');
                var animationDuration = 1000;
                var autoCloseDelay = 5000;

                messageBox.css({
                    position: 'fixed',
                    top: '10px', // Sayfanın üstünden başlıyor
                    right: '-400px', // Ekranın dışında başlıyor
                    backgroundColor: '#f8efea',
                    color: '#333',
                    fontSize: '16px',
                    padding: '20px',
                    zIndex: 9999,
                    display: 'flex',
                    alignContent: 'center',
                    alignItems: 'center',
                });

                messageBox.animate({ right: '10px' }, animationDuration);

                setTimeout(function () {
                    closePopup();
                }, autoCloseDelay);
            });

            function closePopup() {
                var messageBox = $('#customMessage');
                var animationDuration = 500;

                messageBox.animate({ right: '-400px' }, animationDuration, function () {
                    messageBox.remove();
                });
            }

        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>