@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Gökhan Akkuş Blog Sayfası</h1>
    <h4>Anasayfa</h4>
</div>

<div class="row"
        <div class="col-lg-12">

            <div class="col-lg-6">
         
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="/Img/manzara.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted"></div>
                        <h2 class="card-title h4">DENEME</h2>
                        <p>AÇIKLAMA</p>
                        <a class="btn btn-primary" href="#!">Devamını oku →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


