@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "New Password Request";
}


<div class="container-flex mb-5">
    <main role="main" class="pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Reset</h3></div>
                        <div class="card-body">
                            <div class="small mb-4 text-muted">Enter your email address to initiate the reset process.</div>
                            <form asp-action="ForgotPassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-4">
                                    <input asp-for="Email" name="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                    <label asp-for="Email">Email</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
                                    <a class="small" asp-action="Login">Back to Login Page</a>
                                    <button class="btn btn-primary" type="submit" href="/Auth/UpdatePassword">Reset Password</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3 mb-0">
                            <div class="small mb-5 mt-5"><a asp-action="Register">Don't have an account? Sign up now!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
