@*@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Yeni Şifre Talebi";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Parola Yenileme</h3></div>
                <div class="card-body">
                    <div class="small mb-3 text-muted">Email adresinizi girerek talepte bulunabilirsiniz.</div>
                    <form asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" name="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label asp-for="Email">Email</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" asp-action="Login">Giriş Sayfasına Dön</a>
                            <a class="btn btn-primary" type="submit" href="/Auth/UpdatePassword">Parola Sıfırla</a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-action="Register">Hesabınız yok mu? Şimdi kayıt olun!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />*@

@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Yeni Şifre Talebi";
}


<div class="container-flex">
    <main role="main" class="pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Parola Yenileme</h3></div>
                        <div class="card-body">
                            <div class="small mb-3 text-muted">Email adresinizi girerek talepte bulunabilirsiniz.</div>
                            <form asp-action="ForgotPassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Email" name="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                    <label asp-for="Email">Email</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" asp-action="Login">Giriş Sayfasına Dön</a>
                                    <button class="btn btn-primary" type="submit" href="/Auth/UpdatePassword">Parola Sıfırla</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a asp-action="Register">Hesabınız yok mu? Şimdi kayıt olun!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />