@model LoginViewModel

@{
    ViewData["Title"] = "Üye Girişi";
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Üye Girişi</h3></div>
                <div class="card-body">

                    <form asp-action="Login" method="Post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="redirectUrl" />
                        <div class="form-floating mb-5">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" name="Email" class="form-control" type="email" placeholder="name@example.com" />

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-5">
                            <input asp-for="Password" name="Password" class="form-control" type="password" placeholder="Password" />
                            <label asp-for="Password">Parola</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                            <label class="form-check-label" for="inputRememberPassword">Beni Hatırla</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-5">
                            <a class="small" asp-action="ForgotPassword">Parolamı Unuttum?</a>
                            <button type="submit" class="btn btn-primary">Giriş</button>
                            <a asp-action="Register" class="btn btn-secondary">Üye Ol</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />