@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "Yeni Şifre Oluştur";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Parola Yenileme</h3></div>
                <div class="card-body">
                    <div class="small mb-3 text-muted">Yeni şifrenizi girebilirsiniz.</div>
                    <form asp-action="UpdatePassword" method="post">
                        <div class="form-floating mb-3">
                            <label asp-for="@Model.User.Email">Email</label>
                            <input asp-for="@Model.User.Email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />      
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="Password">Parola</label>
                            <input asp-for="Password" class="form-control" id="inputPassword" type="password" />   
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Parola Sıfırla</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-action="Register">Hesabınız yok mu? Şimdi kayıt olun!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />