@model App.Web.Entity.Concrete.Page

<div class="container">
    <h1 class="my-4">About Me (Admin Panel - Update)</h1>

    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Content">Content</label>
            <textarea asp-for="Content" class="form-control" rows="6"></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="WhoIsMe">Who is Me?</label>
            <textarea asp-for="WhoIsMe" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="MyVision">My Vision</label>
            <textarea asp-for="MyVision" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>
</div>
