@{
    ViewData["Title"] = "Thank You";
}

<div class="container mt-5">
    <h2 class="text-center mt-5">Thank You!</h2>
    <p class="text-center mt-5">Your contact message has been successfully sent. We will get back to you as soon as possible.</p>
</div>

<div class="text-center mt-5 mb-5">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mb-5">Back to Homepage</a>
</div>

