@{
    ViewData["Title"] = "Teşekkür Ederiz";
}

<div class="container mt-5">
    <h2 class="text-center mt-5">Teşekkür Ederiz!</h2>
    <p class="text-center mt-5">İletişim mesajınız başarıyla gönderildi. Size en kısa sürede geri dönüş yapacağız.</p>
</div>

<div class="text-center mt-5 mb-5">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mb-5">Anasayfaya Dön</a>
</div>

