<section class="section-padding pt-4">
	<div class="container">
		<div class="row">
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb " asp-controller="Blog" asp-action="Detail" asp-route-id="0">
							<img src="/Img/fashion/img-1.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Explore</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="0">Launch a New space</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">259 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="1">
							<img src="/Img/fashion/img-2.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="1">Bahamas morning</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">320 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="2">
							<img src="/Img/fashion/img-3.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Travel</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="2">New summer hotspot</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm  letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>5 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">380 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="3">
							<img src="/Img/fashion/img-4.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Weekends</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="3">One Week Itinerary</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>4 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">89 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="4">
							<img src="/Img/fashion/img-5.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="4">Start Living Today</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">572 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-4 post-list border-bottom pb-4">
					<div class="row no-gutters">
						<div class="col-md-5">
						<a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="5">
							<img src="/Img/fashion/img-6.jpg" alt="" class="img-fluid w-100">
							</a>
						</div>
						<div class="col-md-7">
							<div class="post-article mt-sm-3">
								<div class="meta-cat">
									<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Travel</span>
								</div>
							<h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="5">Hint of Spring</a></h3>
								<div class="post-meta">
									<ul class="list-inline">
										<li class="post-like list-inline-item">
											<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min read</span>
										</li>
										<li class="post-view list-inline-item letter-spacing-1">209 Views</li>
									</ul>
								</div>
								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination mt-5 pt-4">
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#" class="active">1</a></li>
						<li class="list-inline-item"><a href="#">2</a></li>
						<li class="list-inline-item"><a href="#">3</a></li>
						<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
					</ul>
				</div>
			</div>
