<div class="col-lg-3 col-md-6">
	<article class="post-grid mb-5">
		<a class="post-thumb mb-4 d-block" href="blog-single.html">
			<img src="/Img/news/f1.jpg" alt="" class="img-fluid w-100">
		</a>
		<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Explore</span>
		<h3 class="post-title mt-1"><a href="blog-single.html">The best place to explore to enjoy</a></h3>
		<span class="text-muted letter-spacing text-uppercase font-sm">June 15, 2019</span>
	</article>
</div>
<div class="col-lg-3 col-md-6">
	<article class="post-grid mb-5">
		<a class="post-thumb mb-4 d-block" href="blog-single.html">
			<img src="/Img/news/f2.jpg" alt="" class="img-fluid w-100">
		</a>
		<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
		<h3 class="post-title mt-1"><a href="blog-single.html">How to Make list for travelling alone</a></h3>
		<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
	</article>
</div>
<div class="col-lg-3 col-md-6">
	<article class="post-grid mb-5">
		<a class="post-thumb mb-4 d-block" href="blog-single.html">
			<img src="/Img/news/f3.jpg" alt="" class="img-fluid w-100">
		</a>
		<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Food</span>
		<h3 class="post-title mt-1"><a href="blog-single.html">5 ingredient cilantro vinaigrette</a></h3>
		<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
	</article>
</div>