@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h4>
        Kategoriler
    </h4>
</div>
<div>
    <table>
        <tr>
            <th>
                Araçlar
            </th>
            <th>
                Hakkımızda
            </th>
            <th>
                Neden Biz?
            </th>
            <th>
                Neredeyiz?
            </th>
        </tr>
            
        
    </table>
</div>