@{
    ViewData["Title"] = "Admin Anasayfa";
}
<div class="mt-5 ms-5">
    <h4>Silinen Postlar</h4>
    
        <h5>Başlık</h5>
        <h5>Kategori</h5>
        <h5>Oluşturulma Tarihi</h5>
        <h5>Oluşturan</h5>
        <h5>Durum</h5>
        <h5>İşlemler</h5>
        <h5>Aktif/Aktif değil</h5>
    
</div>